<div class="header">
    <div class="container">
        <div class="nav-menu">
            <div class="logo">
                HISTORY
            </div>
            <div class="nav-menu-links">
                <a href="{% url 'home' %}">
                    <p>Главная</p>
                </a>
                {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">
                    <p>Выйти</p>
                </a>
                {% else %}
                <a href="{% url 'login' %}">
                    <p>Войти</p>
                </a>
                <a href="{% url 'signup' %}">
                    <p>Регистрация</p>
                </a>
                {% endif %}

            </div>
        </div>

    </div>
</div>