{% extends 'include\base.html' %} {% block content %}
{% load static %}
<div class="achivments">
    <div class="container">
        <div class="teacher-about">
            <div class="teacher-image">
                <img src="{% static 'images/teacher.jpg' %}" alt="">
            </div>
            <div class="teacher-about-t">
                <h2>Дмитрий Корсаков</h2>
                <p>Я, Корсаков Дмитрий Геннадьевич, преподаватель I квалификационной категории, магистр исторических наук. Окончил
                исторический факультет Могилевского Государственного университета имени А.А. Кулешова по специальности «Преподаватель
                истории и социально-политических дисциплин».</p>
                <p>Люблю работать с молодежью, делиться своими знаниями с другими. Кроме профессиональной деятельности увлекаюсь также
                интеллектуальными играми, активными видами спорта (баскетболом, плаванием и др.), а также туризмом и краеведением.</p>
                <p>Живу и работаю в родном городе – Могилеве. С 2017 г. преподаю в социально-гуманитарном колледже исторические и
                туристско-краеведческие дисциплины. Мои ученики неоднократно становились призерами и победителями предметных олимпиад и
                тематических конкурсов.</p>
                <p>Этот сайт был разработан для помощи учащимся в освоении учебного материала, подготовке к экзаменам. Кроме того,
                любознательные найдут здесь немало материалов и советов для углубления своих знаний, а также расширения кругозора.</p>
                <div class="social-links">
                    <i class="fab fa-2x fa-vk"></i>
                </div>
            </div>
        </div>
        <div class="achivmentss">
            <div class="achivment">
                <h2>achive1</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem animi debitis ullam consequuntur minima maxime vitae blanditiis quam quod delectus iste esse, similique cumque illo, dolor officia neque itaque quae?</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}